.feed {
    /* flex: 0.6; */
    flex: 1;
    border-right: 1px solid var(--twittie-background);
    /* min-width: fit-content; */
    overflow-y: scroll;

    /* hide scrollbar for IE, edge, firefox */
    -ms-overflow-style: none; /*ie, edge*/
    scrollbar-width: none; /*firefox*/
}

.feed__loader{
    width: 100%;
    padding-top: 2rem;
    display: flex;
    justify-content: center !important;
}
