.sidenav__overlay {
    height: 100%;
    width: 0;
    position: fixed;
    /* z-index: 40; */
    z-index: 101;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav__overlay.open {
    width: 250px;
  }
  
  .sidenav__overlay a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav__overlay a:hover {
    color: #f1f1f1;
  }
  
  .sidenav__overlay .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav__overlay {
      padding-top: 15px;
    }
  
    .sidenav__overlay a {
      font-size: 18px;
    }
  }
  